// it will take this scss code and it will convert it into multiple css files,

$main-color: red;
$text-size: 24px;

.box1 {
  background-color: $main-color;
  height: 100px;
  width: 100px;
  font-size: $text-size;
}

.box2 {
  // text size is decreased by 20%;
  font-size: $text-size * 0.8;
  color: if($text-size>23px, $main-color, black);
}
